@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

a,
a:hover {
  text-decoration: none;
}

article {
  margin-top: 0 !important;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.has-post-thumbnail .entry-header {
  border-bottom: none;
  padding-bottom: 40px;
  margin-bottom: 0;
}

.alignwide {
  clear: both;
}

.entry-header {
  margin-top: 30px;
}

.post-thumbnail {
  text-align: center;
}

.entry-header .post-thumbnail,
.singular .post-thumbnail {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width: 100%;
}

.entry-header > *:first-child {
  margin-top: 0;
}

h1.entry-title {
  line-height: 1.1;
  font-weight: 300;
}

.entry-title {
  color: #28303d;
  overflow-wrap: break-word;
}

.entry-header > * {
  margin-bottom: 30px;
}

.entry-content:before {
  content: "";
  display: table;
  table-layout: fixed;
}

.entry-content {
  margin: 30px auto 30px auto;
  font-size: 20px;
}

.Go_Back {
  cursor: pointer;
}

.entry-content h2 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.entry-content img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .entry-header .post-thumbnail,
  .singular .post-thumbnail {
    width: 100%;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
}
